{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-group">
        <h3>Sign Up</h3>
        <label for="email" class="login-label">Email Address:</label>
        <input type="text" id="email" name="email" placeholder="Enter Email">
        <label for="username" class="login-label">New Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username">
        <label for="password" class="login-label">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
        <label for="confirm_pass" class="login-label">Confirm Password</label>
        <input type="password" id="confirm_pass" name="confirm_pass" placeholder="Re-enter Password">

    <div>
        <button type="submit">Sign Up</button>
    </div>
</div>
</form>




{% endblock %}